<div class="container" id="bottom_text">
{% if category.id == %}
    <p class="shop_bottom_text text-center">Качественная заточка маникюрного инструмента в Москве</p>
    <p class="shop_bottom_text">
        Позаботиться о создании красивых и ухоженных ногтей мастеру помогает именно маникюрный набор. Если эти
        инструменты в плохом состоянии, то и результат их работы – порезы, воспаления и плохо обрезанная кутикула. Чтобы
        исключить подобные моменты и существует такая услуга, как качественная заточка маникюрного инструмента при
        помощи квалифицированных мастеров.
    </p>
    <p class="shop_bottom_text">
        Приобретение дорогого профессионального инструмента позволяет обходиться без оттачивания его в течении
        продолжительного периода времени. Однако, такая покупка по карману не каждому. В этом случае и помогает заточка
        парикмахерского и маникюрного инструмента, которая осуществляется по оптимальной цене и оперативно.
    </p>
    <p class="shop_bottom_text">
        Где можно сделать заточку маникюрного инструмента и как определить ее качество?
    </p>
    <p class="shop_bottom_text">
        Чтобы удостовериться в надлежащем проведении работ необходимо:
    </p>

    <ol>
        <li>
            Оценить внешний вид приспособления. Режущие кромки не должны иметь на себе пятна, заусенцы или зазубрины.
            Они должны иметь одинаковую ширину и длину. Тщательно осмотрите кромки на отсутствие разломов. В закрытом
            виде их перекрещивание должно быть исключено. После изучения всех этих особенностей и удовлетворении внешний
            видом можно утверждать, что ручная заточка маникюрного инструмента была проведена правильно.
        </li>
        <li>
            Проверить работоспособность. Наличие люфта указывает на плохое качество инвентаря. Как только была выполнена
            лазерная заточка маникюрного инструмента не допускается любое залипание или щелчки (в этом случае кусачки
            или ножички снова затупятся через пару недель). Если речь не идет о ножницах, то режущие кромки должны
            сходиться от носика к пятке. Однако при смыкании кончиков, щель в пятке не должна быть более 1/3 мм.
        </li>
        <li>
            Оценить качество. Лезвия ножниц не должны отличаться плохим закрытием или рывками. При необходимости
            применения чрезмерных усилий при работе с инструментом с тугим ходом – воспаления и порезы не исключены.
            После того, как мастер по заточке маникюрных инструментов выполняет свою работу, инвентарь не должен иметь
            на своих концах изломов. О качестве этапа говорит наличие лишь сплошной и ровной поверхности. Должно быть
            полностью исключено наличие на лезвии зазубренных краев или излишней заполированности, несмотря на всю
            красоту. В дальнейшем это может закончиться выскальзыванием ногтей или кутикулы из лезвия. В нашей компании
            осуществляется профессиональная заточка маникюрного инструмента с гарантией услуг.
        </li>
    </ol>

    <p class="shop_bottom_text">
        При приобретении дешевых моделей приспособлений не нужно рассчитывать на то, что изготовленные щипцы или иной
        инструментарий подвергался качественной сборке и заточке. Множество инструментов может сочетать себе недостатки,
        исправить которые позволяет лишь услуга – алмазная заточка маникюрного инструмента от профессионалов.
    </p>
    <p class="shop_bottom_text text-center">
        Заточка маникюрных инструментов в Москве: преимущества
    </p>
    <p class="shop_bottom_text">
        Покупка новых маникюрных наборов при затуплении действующих всегда нецелесообразна. Чтобы забыть о такой
        необходимости, как часто обращаться в мастерские по заточке маникюрного инструмента – доверяйте
        квалифицированным специалистам. Наша компания предоставляет высокий сервис обслуживания и надежность.
    </p>
    <p class="shop_bottom_text text-center">
        Прибегая за услугами к нам вы оцените лишь плюсы:
    </p>

    <ul>
        <li>
            Качество. Каждый мастер – профессионал в своем деле, что значит проводит все этапы максимально бережно и
            грамотно.
        </li>
        <li>
            Экономию времени. Если вам понадобилась заточка маникюрного инструмента район метро нашего расположения
            указаны на сайте. Весь процесс не занимает более 1 часа.
        </li>
        <li>
            Оптимальная цена заточки маникюрного инструмента и специальные предложения для постоянных клиентов.
        </li>
    </ul>

    <p class="shop_bottom_text">
        Для проведения всех работ на результат – обращайтесь к нам. Узнать наши адреса заточки маникюрного инструмента
        или получить консультацию можно по телефону. С нами ваши инструменты приобретут былую функциональность!
    </p>
{% elseif category.id == %}
    <p class="shop_bottom_text text-center">Профессиональная заточка парикмахерского инструмента в Москве</p>
    <p class="shop_bottom_text">
        Умелые руки мастера и парикмахерские приспособления способны творить чудеса. Именно поэтому, чтобы они служили
        на совесть и приносили хороший результат необходима заточка парикмахерского инструмента ножниц, что
        предоставляет наша компания. Мы располагаем внушительным опытом заточки, что значит ваши инструменты попадают в
        надежные руки.
    </p>
    <p class="shop_bottom_text text-center">
        Когда инструменты нуждаются в заточке?
    </p>
    <p class="shop_bottom_text">
        Понять, что пришло время для оттачивания принадлежностей можно заметив следующие нюансы:
    </p>

    <ul>
        <li>
            Появление пятен. Регулярное применение ножниц приводит их к загрязнению на режущей кромке. При их размере до
            1 мм справиться с возвращением функциональности не составляет труда. Однако пятна до 2 мм указывают на их
            значительный износ, что значит заточка профессионального парикмахерского инструмента будет сочетать в себе
            сложности.
        </li>
        <li>
            Возникновение заусенцев. Если ножницы стали рвать или тянуть волосы при работе, то знайте – пришло время для
            заточки. Осуществить этот процесс своими силами и без специализированного опыта не получится, поэтому лучше
            доверьтесь профессионалам. Если заточка парикмахерского инструмента выполняется на алмазе, посредством
            плавных движений и воздействия одинакового давления на длину лезвия, достигается оптимальная ширина пятна до
            0,3 мм. Специалист разбирает инструмент, очищает его и на специальном оборудовании, а затем осуществляет
            заточку и доводку лезвий, и кромок. В итоге, принадлежности очищены от абразивной пыли, не сочетают в себе
            пасты или заусенцев, а также отполированы.
        </li>
    </ul>

    <p class="shop_bottom_text">
        Машинки для стрижки требуют к себе такого же ухода, что и ножницы. После завершения работы с ними их нужно
        очищать, протирать и смазывать. Недопустимо появление на ножах ржавчины или их мытье горячей водой. Их
        рекомендуется затачивать не менее 1 раза в год.
    </p>
    <p class="shop_bottom_text text-center">
        Недорогая заточка парикмахерских инструментов в Москве: особенности
    </p>
    <p class="shop_bottom_text">
        Оттачивание ножей машинки для стрижки осуществляется квалифицированными мастерами. Существуют важные нюансы
        этапа заточки, которыми не следует пренебрегать. Так необходимо соблюдение определенного класса шероховатости.
        Создание направления рисок на рабочем покрытии ножей должно происходить параллельно боковой поверхности. Рабочую
        плоскость ножей оставляют гладкой, но не зеркальной во избежание склеивания поверхностей. Соблюдение этого этапа
        важно, чтобы предупредить скоротечный износ приспособления.
    </p>
    <p class="shop_bottom_text">
        Помните, что функциональность инструментов зависит от его грамотной заточки, поэтому доверяйте проведение этого
        процесса компетентным мастерам – обращайтесь к нам!
    </p>
{% elseif category.id == %}
    <p class="shop_bottom_text text-center">Профессиональная заточка садового инструмента</p>
    <p class="shop_bottom_text">
        Даже самая высококачественная сталь, прошедшая на изготовление инструмента, не может сохранить первозданную
        остроту лезвия, а затупившийся инвентарь не только не удобен в работе, но и откровенно опасен, и от этого
        дефекта нужно избавляться.
    </p>
    <p class="shop_bottom_text">
        Даже самой высококачественной стали свойственно приходить в негодность, в особенности, если это касается
        инструментов. И если обеспечить постоянную остроту лезвия невозможно, то подарить былую функциональность
        затупившимся садовым приспособлениями – реально. Чтобы оборудование радовало лишь исправной работой и не
        представляло опасности – существует удобное решение. Наша мастерская предоставляет недорогую услугу – заточка
        садового инструмента от квалифицированных специалистов. Если привести лопаты или тряпки в надлежащее состояние
        не составит труда, то позаботиться о дорогостоящих приспособлениях могут исключительно профессионалы.
    </p>
    <p class="shop_bottom_text">
        Наши специалисты заточат оперативно и по оптимальной цене различные инструменты:
    </p>

    <ul>
        <li>
            Триммеры, секторы, сучкорезы.
        </li>
        <li>
            Ножи мотокосов и газонокосилок.
        </li>
    </ul>

    <p class="shop_bottom_text">
        Мы осуществляем заточку любого садового оборудования с гарантией качества!
    </p>
    <p class="shop_bottom_text text-center">
        Заточка садового инструмента в Москве
    </p>
    <p class="shop_bottom_text">
        Множеству садоводов не известно, где происходит заточка на профессиональном уровне. Наша мастерская приведет в
        порядок любое приспособление и подарит ему работоспособность на долгое время. Помните, что самостоятельная
        заточка не редко приводит к повреждению деталей или и вовсе всего инструмента, что требует финансовых затрат.
        Чтобы избежать ненужной траты нервов, времени и денег – звоните нам.
    </p>
    <p class="shop_bottom_text">
        Сотрудничество с нами, это:
    </p>

    <ul>
        <li>
            Низкие цены. Мы не гонимся за наценками, поэтому удовлетворяем клиентов оптимальной стоимостью услуг.
        </li>
        <li>
            Качество. Каждый инструмент, который оказывается в руках мастера затачивается максимально грамотно.
        </li>
        <li>
            Оперативность. Процесс оттачивания занимает не более 1 часа.
        </li>
        <li>
            Многолетний опыт. Все наши специалисты располагают соответствующей квалификацией, а это значит, что им можно
            доверять.
        </li>
        <li>
            Специальные предложения. Для постоянных клиентов предусмотрены скидки.
        </li>
    </ul>
    <p class="shop_bottom_text">
        Если вам понадобилась профессиональная заточка садового инструмента для его эффективной работы в будущем, то
        наша мастерская лучшее решение в поисках качественных и надежных услуг. Для получения подробной информации –
        просто позвоните нашему менеджеру!
    </p>
{% elseif category.id == %}
    <p class="shop_bottom_text text-center">Заточка портного инструмента в Москве</p>
    <p class="shop_bottom_text">
        Держать в отличном состоянии портные инструменты – задача каждого профессионального мастера. Проводиться заточка
        портного инструмента должна своевременно и грамотно. Чтобы приобрести уверенность в качестве заточки предлагаем
        обратиться в нашу мастерскую. У нас работают лишь квалифицированные специалисты и на современном оборудовании.
        Высококачественная заточка ножниц позволит не только продлить их срок службы, но и получить постоянных клиентов.
        Именно от качества и остроты этого инструмента зависит результативность проделанной портным работы.
        Своевременная заточка ее значительно облегчит и ускорит.
    </p>
    <p class="shop_bottom_text text-center">
        Заточка портных ножниц: особенности
    </p>
    <p class="shop_bottom_text">
        Выбор мастерских по заточке на сегодня велик. Однако, чтобы выбрать профессиональную компанию приходится тратить
        время. Мы предлагаем избавиться от такой необходимости, ведь наша мастерская – гарантия предоставляемых услуг.
        Обратившись к нам вы приобретаете твердую уверенность в проведении грамотной заточки. Портняжное дело требует к
        себе функционального инструмента. В противном случае, тупые или чрезмерно заостренные ножницы могут испортить
        или повредить дорогостоящую ткань. Чтобы вся работа проводилась качественно, заточка должна происходить
        профессиональным мастером и на специальном оборудовании.
    </p>
    <p class="shop_bottom_text">
        Обращение к нам, это:
    </p>

    <ul>
        <li>
            Оптимальные цены. Для каждого клиента мы предусмотрели выгодные предложения.
        </li>
        <li>
            Качество. Многолетний опыт специалистов, знания и большое количество заказов – весомый нюанс, по которому
            выбирают нас.
        </li>
        <li>
            Оперативность. Высокая скорость обработки инструментов гарантированна.
        </li>
    </ul>
    <p class="shop_bottom_text">
        Важно понимать, что для сохранения надлежащего состояния инструментов их нужно применять по назначению. Арсенал
        портного состоит из разнообразных ножниц – с короткими, острыми, длинными лезвиями, а также с тупыми краями. При
        помощи таких ножниц без труда разрезают ткань без ее зажевывания и сминания.
    </p>
    <p class="shop_bottom_text">
        Каждый тип инструмента используется для конкретных действий с тканью:
    </p>

    <ul>
        <li>Для разреза.</li>
        <li>Для выкройки.</li>
        <li>Для насечки или подрезания.</li>
    </ul>
    <p class="shop_bottom_text">
        Изделие с тонким лезвием регулирует точность выреза. Зигзагообразные ножницы избавляют о необходимости
        обрабатывать края, а правильная заточка портного инструмента в Москве обеспечит качество работы и количество
        заказов. Прибегая к нашим услугам вы также экономите финансовые средства – не нужно приобретать новые
        инструменты для каждого заказа при их затуплении.
    </p>
{% elseif category.id == %}
    <p class="shop_bottom_text text-center">Заточка профессионального инструмента для грумеров</p>
    <p class="shop_bottom_text">
        Весьма важный критерий для грумера или парикмахера – в каком состоянии находятся их машинки для стрижки или
        ножевые блоки. Какой бы марки или бренда ни были бы приборы, если заточка была осуществлена не грамотно, то
        удобное или хорошее выполнение стрижки невозможно. В особенности речь идет о грумере или ножах для выполнения
        стрижек у собак и кошек. Плохо заточенный прибор или не отрегулированный нож не сможет справиться со стрижкой
        подшерсток кота или собаки. Качественная заточка инструментов для грумеров требует знаний от мастера-заточника,
        большого опыта и практики.
    </p>
    <p class="shop_bottom_text">
        Специалисты нашей компании имеют многолетний опыт и знания того, насколько важно современное оборудование для
        заточки ножей. Именно поэтому каждый мастер использует лишь профессиональные и специализированные станки для
        работ. Применение самодельного оборудования или оттачивание при помощи наждачного камня не сделает инструмент
        функциональным, а повредит его.
    </p>
    <p class="shop_bottom_text">
        Заточка и ремонт инструментов для грумеров
    </p>
    <p class="shop_bottom_text text-center">
        Произведение заточки ножей машины требует задействование особой технологии и материалов. Доверяя некомпетентным
        работникам, которым не знакомы такие особенности, как: сколько необходимо сточить микрон или мм у ножа, какой
        абразив лучше использовать, до какой температуры разогревается изделие и какая ее часть нуждается в надавливании
        посильнее – грамотная заточка исключена. Верным решением станет обращение к истинным профессионалам.
    </p>
    <p class="shop_bottom_text">
        Сотрудничество с нами, это масса преимуществ:
    </p>

    <ul>
        <li>
            Обеспечение низких цен. При постоянном обращении или оптовом заказе мы радуем оптимальной стоимостью услуг.
        </li>
        <li>
            Оперативное взаимодействие. Если вам необходима консультация – просто наберите наш номер и свяжитесь со
            специалистом. Чтобы воспользоваться услугами достаточно приехать в мастерскую. Наши специалист произведет
            все работы в короткие сроки.
        </li>
        <li>
            Качество. Присутствие всех необходимых квалификации у работников и их многолетний опыт – гарантия надежного
            проведения заточки любого инструмента.
        </li>
    </ul>
    <p class="shop_bottom_text">
        Если вам понадобилась заточка профессионального инструмента для грумера, то верный выбор очевиден! Мы работаем
        на современном и качественном оборудовании, гарантируем надежность работы и предоставляем конкурентоспособные
        цены. С нами ваши инструменты вновь приобретут функциональность, а главное на долгие годы! Обращайтесь в
        надежную мастерскую и звоните нам!
    </p>
{% elseif category.id == %}
    <p class="shop_bottom_text text-center">Заточка хирургического инструмента в Москве</p>
    <p class="shop_bottom_text">
        В арсенале каждого врача имеется свой набор инструментов. Если в государственных учреждениях уход за ними
        осуществляет конкретный человек, то в частных больницах такая услуга, как заточка хирургического инструмента
        весьма востребована. Должное обеспечение ухода за инструментами – не только грамотное применение и их стерильная
        чистота. Самое главная их составляющая – острота.
    </p>
    <p class="shop_bottom_text">
        При работе с медицинским инструментарием важно соблюдение следующих требований:
    </p>

    <ul>
        <li>
            Оттачивание лезвием вперед.
        </li>
        <li>
            Заточка стамесок и ножниц с одной стороны. Если речь идет о скальпеле, то обтачивать обе фаски.
        </li>
        <li>
            Выдержка правильного угла затачивания. Для этого лезвие располагают под наклоном меньшего угла между двумя
            сторонами острия.
        </li>
    </ul>
    <p class="shop_bottom_text">
        Плохо заточенное медицинское изделие может причинить пациенту неоценимый вред. Именно поэтому так необходимо,
        чтобы заточка приборов проводилась своевременно. Их остроту требуется проверять перед каждой процедурой или
        операцией. В нашей мастерской вы сможете заказать качественную заточку медицинских инструментов. Эта услуга
        позволит не покупать новые приборы, а также эффективно и безопасно использовать старые. Среди наших клиентов
        множество хирургических отделений, больниц и госпиталей как частных, так и государственных.
    </p>
    <p class="shop_bottom_text text-center">
        Ремонт и заточка хирургических инструментов: особенности проведения
    </p>
    <p class="shop_bottom_text">
        Обращаясь к нам вы можете быть уверены в высококачественной обработке любых приспособлений. Наши специалисты
        мастера в своем деле и знают о всех нюансах выполнения правильного оттачивания.
    </p>
    <p class="shop_bottom_text">
        Последовательность произведения работ заключает в себе такие этапы, как:
    </p>

    <ul>
        <li>
            Обработку. Режущие поверхности, на которых имеются надломы, погнутости либо зазубрины подвергаются обработке
            при помощи наждачных кругов.
        </li>
        <li>
            Заточку. Для нее задействуют оселки или точильный бруски. Их изготовление может происходить из черного,
            белого или желтого камня. Достичь наиболее высокой точности и длительности заточки можно при помощи белого
            оселки.
        </li>
        <li>
            Правку на особом ремне. Иногда применяется после работы с оселками. Для этого используется точильная паста.
        </li>
    </ul>
    <p class="shop_bottom_text">
        Если вам понадобилась заточка хирургического инструмента в Москве, то наша мастерская верный выбор. Мы работаем
        на высококачественном оборудовании и обрабатываем приборы максимально надежно. Мы ценим и предоставляем качество
        услуг – обращайтесь!
    </p>
{% elseif category.id == %}
{% elseif category.id == %}
{% elseif category.id == %}
{% elseif category.id == %}
{% elseif category.id == %}
{% else %}
    <p class="shop_bottom_text text-center">Заточка инструмента</p>
    <p class="shop_bottom_text">
        Услуги по заточке инструмента оказываются специалистами торгово-технического центра «ТехноМастер», исходя из
        индивидуальных потребностей каждого клиента. Мы стараемся в самые сжатые сроки предоставить заказчику
        наилучший результат, которым он будет доволен в полной мере. Достигать поставленной цели специалистам нашей
        компании помогает современное профессиональное оборудование, а также их внушительный стаж работы по этому
        направлению.
    </p>
    <p class="shop_bottom_text">
        Свыше десяти лет нашим сервисным центром проводится высококвалифицированная заточка пил, инструмента,
        строгальных ножей и пильных дисков. Затачивая цепи для бензиновых и электрических пил, а также любой другой
        инструмент, мы стараемся максимально продлить ресурс его службы. Секрет наших мастеров кроется в умении
        снимать при заточке минимальное количество металла – так инструмент дольше не истачивается, а максимальная
        его острота и эстетичность достигаются в процессе финальной полировки.
    </p>
    <p class="shop_bottom_text">
        В процессе выполнения вашего заказа мы учтем все ваши пожелания и специфику дальнейшего использования
        инструмента, который передадим вам в руки в полностью готовом к работе состоянии.
    </p>
{% endif %}
</div>
