<div class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            <footer>
                <div class="col-sm-3">
                    <p class="upper_text">
                        Режим работы:
                    </p>
                    ежедневно с 8.00 до 21.00<br>
                    прием заявок круглосуточно
                </div>
                <div class="col-sm-6 text-center">
                    <a href="#">
                        <img src="{{ asset('bundles/binserinstrument/images/logo.png') }}" alt="Логотип компании">
                    </a>
                    <br>
                    <a href="https://vk.com/ostro_24" class="social_icon icon-vk"></a>
                    <a href="#" class="social_icon icon-facebook"></a>
                    <a href="https://www.instagram.com/ostro_24/" class="social_icon icon-instagramm"></a>
                    <a href="#" class="social_icon icon-youtube"></a>
                    <br>
                    <p class="upper_text">
                        Студия профессиональной заточки - 2016
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <p class="upper_text">
                        Позвоните нам:
                    </p>
                    +7 (985) 271 19 87
                    <p class="upper_text">
                        Адрес:
                    </p>
                    г.Москва, ул.Петровка 17, с. 3
                </div>
            </footer>
        </div>
    </div>
</div>