{% extends '::base.html.twig' %}

{% block title %}О нас{% endblock %}
{% block description %}Страница - O нас{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container" id="about_block">
        <div class="alert alert-info">
            Страница находится в разработке
        </div>
    </div>
{% endblock %}