{% extends '::base.html.twig' %}

{% block content %}
    <div class="container" id="about_block">
        <div class="alert alert-link">
            Страница находится в разработке
        </div>
    </div>
{% endblock %}