{% extends '::base.html.twig' %}

{% block title %}Примеры работ{% endblock %}
{% block description %}Страница - Примеры работ{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container" id="examples_block">
        <div class="alert alert-info">
            Страница находится в разработке
        </div>
    </div>
{% endblock %}