{% extends '::base.html.twig' %}

{% block title %}
    {{ service.seoTitle }}
{% endblock %}
{% block description %}
    {{ service.seoDescription }}
{% endblock %}
{% block keywords %}
    {{ service.seoKeywords }}
{% endblock %}

{% block content %}
<div class="container" id="service_post_block">
    <div class="row">
        <div class="col-xs-12">
            {{ service.text|raw }}
        </div>
    </div>
</div>
{% endblock %}