{% extends '::base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
<div class="container" id="service_post_block">
    <div class="row">
        <div class="col-xs-12">
            {{ service.text|raw }}
        </div>
    </div>
</div>
{% endblock %}